<%- include('parts/header') %> 


    <div class="d-flex" id="wrapper">
        <%- include('parts/navbar') %> 
        <%- include('./dashpord') %>
        
    </div>


<%- include('parts/footer') %> 