<div class="container d-flex">
    <select name="category" class="form-control" style="width:90% ;">
        <option value="all">All</option>
        <option value="clothes">Clothes</option>
        <option value="phone">Phone</option>
        <option value="computer ">computer</option>
    </select>
    <input type="submit" class="btn btn-success " style="width:10% ;" value="Filter">
</div>
